.pagelogin {
    // box-shadow: rgb(68, 68, 68) 0px 0px 4px 0px;
    color: rgb(51, 51, 51);
    min-height: 400px;
    width: 940px;
    background-image: url("../../images/header/headerbg.png");
    margin: 10px auto;
    padding: 30px;
    font-size: 12px;
    input[type="email"], input[type="password"], input[type="text"] {
        width: 200px;
        height: 21px;
    }
}

fieldset{
    border: 0.5px solid rgb(194, 194, 194);
    padding-left: 20px;
}
legend{
    font-size: 13px;
    margin-left: 15px;
    width: auto;
}

label{
    display: block;
}

th{
    padding: 5px;
    text-align: center;
}

td{
    border-top: 1px solid #adabab;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

table{
    width: auto;
    margin: auto;
    
}