* {
  margin: 0;
  padding: 0;
}

.wrapper {
  bottom: 0px;
  top: 0px;
  width: 1000px;
  margin: auto;
}

body {
  background-image: url("../../images/bg_pattern.jpg");
  font-family: "Arial",Arial,Helvetica,sans-serif;
  font-size: 12px;
}

.btn {
  background-color: #00870a;
  color: white;
  border: #00870a;
  padding: 2.5px 10px;
  border-radius: .15rem;
  font-size: 14px;
}

.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.header {
  background-image: url("../../images/header/headerbg.png");
}

.header .topbar {
  height: 22px;
  line-height: 22px;
}

.header .topbar a {
  font-size: 12px;
  color: green;
}

.header .topbar a:hover {
  text-decoration: underline;
}

.header .wrap {
  position: relative;
  height: 150px;
  width: 1000px;
}

.header .topprofile {
  float: right;
}

.header .topprofile li {
  display: inline-block;
}

.header .topprofile li:first-child a:before {
  content: "";
  padding: 0px;
}

.header .topprofile li a:before {
  content: "|";
  padding-right: 15px;
  padding-left: 15px;
}

.header .logo {
  display: block;
  position: absolute;
  bottom: 0;
  width: 514px;
}

.header .logo a {
  background-image: url("../../images/header/logo1.png");
  background-repeat: no-repeat;
  display: block;
  height: 155px;
  text-indent: -200em;
  width: 514px;
}

.header .cart {
  display: block;
  position: absolute;
  height: 60px;
  width: 60px;
  right: 0;
  top: 30px;
  cursor: pointer;
}

.header .cart a {
  background-image: url("../../images/header/cart.png");
  background-repeat: no-repeat;
  display: block;
  height: 60px;
  width: 60px;
  text-indent: -200em;
  width: 514px;
}

.header .search {
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 320px;
  border: 1px solid #ccc;
  height: 30px;
}

.header .search .text {
  width: 300px;
  border: medium none;
  float: left;
  margin: 5px 0 0 8px;
  font-size: 13px;
  padding: 1px;
}

.header .search .text::-webkit-input-placeholder {
  color: #3b3939;
  font-style: italic;
}

.header .search .text:-moz-placeholder {
  font-style: italic;
}

.header .search .text::-moz-placeholder {
  font-style: italic;
}

.header .search .text:-ms-input-placeholder {
  color: #016600;
  font-style: italic;
}

.header .search .submit {
  background-color: white;
  background-image: url("../../images/header/searchbg.png");
  background-repeat: no-repeat;
  background-position: center;
  border: medium none;
  display: block;
  height: 28px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: -500em;
  width: 30px;
}

ul, li {
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}

h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
          margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
          margin-block-end: 0.67em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

#mainnav {
  background-image: url("../../images/header/menubg.png");
}

#mainnav .menu {
  line-height: 40px;
  height: 40px;
}

#mainnav .menu li {
  position: relative;
  width: 333px;
  float: left;
  font-size: 16px;
}

#mainnav .menu li a {
  color: white;
  text-align: center;
  display: block;
  text-decoration: none;
}

#mainnav .menu li:hover a {
  background: #033801;
}

#mainnav .menu li:hover .submenu {
  display: block;
}

#mainnav .submenu {
  display: none;
  background-image: url("../../images/header/menubg.png");
  position: absolute;
  width: 333px;
  z-index: 100;
}

#mainnav .submenu li a {
  background: none repeat scroll 0 0 #033801;
}

#mainnav .submenu li:hover a {
  background: rgba(0, 0, 0, 0);
}

.footer {
  color: #333333;
  height: 175px;
  position: relative;
  background-image: url("../../images/header/headerbg.png");
  border-top: 8px solid rgba(216, 216, 216, 0.6);
}

.footermenu {
  color: #333333;
  height: 165px;
  -webkit-column-rule-color: #333333;
          column-rule-color: #333333;
  -webkit-perspective-origin: 380.234px 78px;
          perspective-origin: 380.234px 78px;
  -webkit-transform-origin: 380.234px 78px;
          transform-origin: 380.234px 78px;
  caret-color: #333333;
  border: 0px none #333333;
  outline: #333333 none 0px;
}

.footermenu::after {
  clear: both;
  display: table;
  height: 0px;
  width: 0px;
  -webkit-perspective-origin: 0px 0px;
          perspective-origin: 0px 0px;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
}

.footermenu::before {
  display: table;
  height: 0px;
  width: 0px;
  -webkit-perspective-origin: 0px 0px;
          perspective-origin: 0px 0px;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
}

.footermenu .col {
  color: #333333;
  float: left;
  height: 156px;
  width: 500px;
  -webkit-column-rule-color: #333333;
          column-rule-color: #333333;
  -webkit-perspective-origin: 190.109px 78px;
          perspective-origin: 190.109px 78px;
  -webkit-transform-origin: 190.117px 78px;
          transform-origin: 190.117px 78px;
  caret-color: #333333;
  margin-top: 10px;
}

.footermenu .col ul {
  color: #333333;
  height: 156px;
  -webkit-text-decoration: none solid #333333;
          text-decoration: none solid #333333;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 380.234px;
  -webkit-column-rule-color: #333333;
          column-rule-color: #333333;
  -webkit-perspective-origin: 190.109px 78px;
          perspective-origin: 190.109px 78px;
  -webkit-transform-origin: 190.117px 78px;
          transform-origin: 190.117px 78px;
  caret-color: #333333;
  border: 0px none #333333;
  list-style: outside none none;
  margin: 0px;
  outline: #333333 none 0px;
  padding: 0px;
}

.footermenu .col li {
  background-position: 0px 50%;
  color: #333333;
  height: 18px;
  -webkit-text-decoration: none solid #333333;
          text-decoration: none solid #333333;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 350.234px;
  background-image: url("../../images/header/arricon.png");
  background-repeat: no-repeat;
  border-top: 0px none #333333;
  border-right: 0px none #333333;
  border-bottom: 1px solid #c2c2c2;
  border-left: 0px none #333333;
  list-style: outside none none;
  outline: #333333 none 0px;
  padding: 10px 0px 25px 30px;
  font-size: 16px;
}

.footermenu .col li::after {
  border: 0px none #333333;
}

.footermenu .col li::before {
  border: 0px none #333333;
}

.footermenu .col li a {
  color: #0f5731;
  text-align: left;
  -webkit-text-decoration: none solid #0f5731;
          text-decoration: none solid #0f5731;
  -webkit-column-rule-color: #0f5731;
          column-rule-color: #0f5731;
  -webkit-perspective-origin: 0px 0px;
          perspective-origin: 0px 0px;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  caret-color: #0f5731;
}

@media (max-width: 767px) {
  .slide {
    display: none;
  }
}

.container {
  margin-bottom: 20px;
}

.slide {
  color: #333333;
  height: 300px;
  width: 1000px;
  -webkit-transform-origin: 500px 118.5px;
          transform-origin: 500px 118.5px;
  margin: auto;
  outline: #333333 none 0px;
}

.pagetitle {
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  width: 888px;
}

.pagetitle a {
  background: url("../../images/home/lbcenter.png") no-repeat scroll center;
  color: white;
  display: inline-block;
  font-family: 'Times New Roman';
  font-size: 20px;
  font-weight: normal;
  padding: 28px 10px 35px;
  position: relative;
  text-transform: uppercase;
}

.pagetitle a::before {
  background: url("../../images/home/lbleft.png") no-repeat scroll rgba(0, 0, 0, 0);
  content: " ";
  height: 85px;
  left: -32px;
  position: absolute;
  top: 0;
  width: 32px;
  padding: 0;
}

.pagetitle a::after {
  background: url("../../images/home/lbright.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  content: " ";
  height: 85px;
  position: absolute;
  right: -32px;
  top: 0;
  padding: 0;
  width: 32px;
}

.pagetitle a:hover {
  text-decoration: none;
}

.listbook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.book {
  height: 400px;
  width: 240px;
  padding-left: 15px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: inline-block;
}

.book:hover {
  -webkit-box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.6);
}

.book a {
  height: 100%;
  margin: auto;
  color: #1e1e1f9e;
  text-decoration: none;
  text-transform: capitalize;
}

.book a .mycart {
  background-color: unset;
}

.book a .mycart img {
  width: 170px;
  margin: auto;
  height: 245px;
}

.book a .mycart .card-body {
  padding: 0.75rem;
}

.book a:hover {
  text-decoration: none;
}

.book a h4 {
  font-size: 17px;
  font-weight: 550;
}
/*# sourceMappingURL=home.css.map */